.cell {
  border: 1px solid;
  height: 15px;
  width: 15px;
  display: inline-block;
  box-sizing: border-box;
  background-color: lightgray;
}
.cellRow .cell:not(:first-of-type) {
  border-left: 0;
}
.cellRow:not(:last-of-type) .cell {
  border-bottom: 0;
}
.cell.alive {
  background-color: yellow;
}
.cellRow {
  height: 15px;
  font-size: 0; /* removes whitespace between each cell */
}
.gameControlGroup {
  display: inline;
  margin: auto 0.5em;
  cursor: default;
}
#gameSpeed {
  width: 75px;
}
